<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<style>
	body{
		font-family: Verdana, Helvetica, Arial, sans-serif;
		font-size: medium;
	}
	</style>
</head>
<body>
    <div class="container">
        <h1>Welcome to my Dictionary Site</h1>
        <a href="./register">Register</a>
        <br>
        <a href="./login">Login</a>
    </div>
</body>
</html>